# Backend
PORT=8787
LIVEBLOCKS_SECRET_KEY=
FX_BENTO_STATE_PATH=.fx-bento/backend-state.json

# Arc Testnet 5042002 deployment
FX_BENTO_RPC_URL=https://rpc.drpc.testnet.arc.network
FX_BENTO_CHAIN_ID=5042002
FX_BENTO_FROM_BLOCK=44364271
FX_BENTO_POLL_INTERVAL_MS=12000

FX_BENTO_FACTORY_ADDRESS=0x0fb6e92f4aa9e7fe22deab46e5ed8b7f39d66744
FX_BENTO_ESCROW_ADDRESS=0x87eee7b6523ab6d06edd9a25f070390cb0dc1042
FX_BENTO_SETTLEMENT_ADDRESS=0xd83de41adbdb9e8015ebeda73dc76295627dfcd4
FX_BENTO_ROUND_MANAGER_ADDRESS=0x5474f12c1889f48979d6108dd3bd541617d30f8f
FX_BENTO_HOOK_ADDRESS=0x93efea7a2dfa566bcc5f2d5befb993a08c6c10c0
FX_BENTO_POOL_REGISTRY_ADDRESS=0xa9e3cd0414daffd78389e81465678b9fefd00155
FX_BENTO_COMMITMENT_MANAGER_ADDRESS=0xc1e71810014b536f2e70c57170da3952411ef726
FX_BENTO_PROTOCOL_FEE_VAULT_ADDRESS=0xc2f2b13d3897b8362ec50d2e2f3ae98943ec15d2

CONTRACT_RPC_URL=https://rpc.drpc.testnet.arc.network
PONDER_RPC_URL=https://rpc.drpc.testnet.arc.network
PONDER_CHAIN_ID=5042002
PONDER_FX_BENTO_START_BLOCK=44364271

# Frontend
FX_BENTO_BACKEND_URL=http://localhost:8787
